@import './palette.css';
@import './button.css';
@import './input.css';
@import './scrollbar.css';
@import './font';

body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}